<header>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid col-9 mx-auto">
  
        <a class="navbar-brand mr-auto" href="{{ site.baseurl }}/">
          <strong>{{ site.header_title }}</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <!-- - home -testimonials -photos -schools -->
            <li class="nav-item mx-auto">
              <a class="nav-link" href="{{ '/ambassadors/' | prepend: site.baseurl }}">
                <span class="mr-2 fas fa-users"></span>Ambassadors</a>
            </li>
  
            <li class="nav-item mx-auto">
              <a class="nav-link" href="{{ '/schools/' | prepend: site.baseurl }}">
                <span class="mr-2 fas fa-graduation-cap"></span>Schools</a>
            </li>
  
            <li class="nav-item mx-auto">
                <a class="nav-link" href="{{ '/lesson-plans/' | prepend: site.baseurl }}">
                <span class="mr-2 fas fa-chalkboard-teacher"></span>Lesson Plans</a>
            </li>
  
            <!-- <li class="nav-item mx-auto">
              <a class="nav-link" href="{{ '/photos/' | prepend: site.baseurl }}">
                <span class="mr-2 fas fa-images"></span>Photos</a>
            </li> -->
  
            <li class="nav-item mx-auto">
              <a class="nav-link" href="{{ '/testimonials/' | prepend: site.baseurl }}">
                <span class="mr-2 fas fa-bullhorn"></span>Testimonials</a>
            </li>
  
            {% if site.bitbucket_username %}
            <li class="nav-item">
              <a class="nav-link" href="https://bitbucket.org/{{ site.bitbucket_username }}">
                <span class="mr-1 fab fa-bitbucket"></span>
              </a>
            </li>
            {% endif %} {% if site.stackoverflow_id %}
            <li class="nav-item">
              <a class="nav-link" href="https://stackoverflow.com/users/{{ site.stackoverflow_id }}">
                <span class="mr-1 fab fa-stack-overflow"></span>
              </a>
            </li>
            {% endif %} {% if site.facebook_username %}
            <li class="nav-item">
              <a class="nav-link" href="https://facebook.com/{{ site.facebook_username }}">
                <span class="mr-1 fab fa-facebook"></span>
              </a>
            </li>
            {% endif %} {% if site.google_plus_id %}
            <li class="nav-item">
              <a class="nav-link" href="https://plus.google.com/{{ site.google_plus_id }}/posts">
                <span class="mr-1 fab fa-google-plus"></span>
              </a>
            </li>
            {% endif %} {% if site.linkedin_username %}
            <li class="nav-item">
              <a class="nav-link" href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
                <span class="mr-1 fab fa-linkedin"></span>
              </a>
            </li>
  
            {% endif %} {% if site.angellist_username %}
            <li class="nav-item">
              <a class="nav-link" href="https://angel.co/{{ site.angellist_username }}">
                <span class="mr-1 fab fa-angellist"></span>
              </a>
            </li>
            {% endif %} {% if site.medium_id %}
            <li class="nav-item">
              <a class="nav-link" href="https://medium.com/{{ site.medium_id }}">
                <span class="mr-1 fab fa-medium"></span>
              </a>
            </li>
            {% endif %} {% if site.github_username %}
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/{{ site.github_username }}">
                <span class="mr-1 fab fa-github"></span>
              </a>
            </li>
            {% endif %}
  
            <!-- 
        <li class="nav-item">
          <a class="nav-link" href="{{ "/feed.xml" | prepend: site.baseurl }}"><span class="mr-1 fa fa-rss"></span></a>
        </li> -->
  
          </ul>
        </div>
      </div>
  
    </nav>
  
  </header>