<div style="display: none;" class="photos-masonry row {{ page.year }}-photos">
    {% assign photos = site.static_files | where: "image", page.year %}
    {% for photo in photos %}
        <div class="col-xs-7 col-md-6 mt-5 card-outer">
            <div class="card">
                <img class="card-img-top"
                    data-src="{{ photo.path | prepend: 'https://cdn.jsdelivr.net/gh/penn-wics/Percentage-Project' }}"
                    alt="Image of {{ photo.path }}">
                <div class="card-hover-body">
                    <a href="#about" alt="Click here to learn more" class="btn js-scroll-trigger photo-button">Learn
                        More</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>