.ReactGridGallery_tile{
    min-height: 40vh;
}

.ReactGridGallery_tile-viewport{
    min-height: 40vh;    
}

.ReactGridGallery_tile-viewport img{
    min-height: 40vh;   
    width: auto!important; 
}

.gallery-overlay h4{
    font-size: 25px
}


.gallery-overlay p{
    color: rgba(255, 255, 255, 0.9);
    font-size: 20px
}


.hovereffect {
    width:100%;
    height:100%;
    float:left;
    overflow:hidden;
    position:relative;
    text-align:center;
    cursor:default;
}

.hovereffect .overlay{
    text-decoration:none;
    display:inline-block;
    text-transform:uppercase;
    color:#fff;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.5);
    opacity:0;
    filter:alpha(opacity=0);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    padding: 10%;
}

.hovereffect img {
    display:block;
    position:relative;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
}

.hovereffect h2 {
    font-size: 17px;
    color:#fff;
    text-align:center;
    position:relative;
    -webkit-transform:translatey(-100px);
    -ms-transform:translatey(-100px);
    transform:translatey(-100px);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    padding:10px;
    margin:0px;
}


.hovereffect h3{
    font-size: 15px;
    color: #fff;
    text-align: center;
    position: relative;
}

.hovereffect a.info{
    text-decoration:none;
    display:inline-block;
    text-transform:uppercase;
    color:#fff;
    border:1px solid #fff;
    background-color:transparent;
    opacity:0;
    filter:alpha(opacity=0);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    margin:80px 0 0;
    padding:7px 14px;
}

.hovereffect a.info:hover {
    box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
    -ms-transform:scale(1.2);
}

.hovereffect:hover .overlay{
    opacity:1;
    filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
    opacity:1;
    filter:alpha(opacity=100);
    -ms-transform:translatey(0);
    -webkit-transform:translatey(0);
    transform:translatey(0);
}

.hovereffect:hover a.info {
    -webkit-transition-delay:.2s;
    transition-delay:.2s;
}

